.btn {
    display: inline-block;
    width: 120px;
}

.clickable {
    cursor: pointer;
}

.bg-color-aliceblue {
    background-color: aliceblue;
}

.bg-color-antiquewhite {
    background-color: antiquewhite;
}

.right {
    float: right;
}